@tailwind base;
@tailwind components;
@tailwind utilities;

/* third-party libraries CSS */

#supportCheckbox:checked ~ div span {
  @apply opacity-100;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  html.sr {
    @apply !py-0;
  }

  body {
    @apply font-normal text-base text-dark-3 relative z-1 bg-dark;
  }
}

@layer components {
  .dropdown {
    @apply flex-col gap-1 min-w-max lg:w-[208px] mt-2 lg:mt-0 bg-[#1C192C] shadow-lg ease-in duration-300 p-3 rounded-lg left-0 hidden
    lg:translate-y-10 lg:opacity-0 lg:invisible lg:absolute lg:flex
    lg:group-hover:translate-y-3 lg:group-hover:opacity-100 lg:group-hover:visible;
  }

  .gradient-border {
    @apply absolute inset-0 rounded-[30px] p-[1px] transition-all duration-300;
  }

  .form-box-gradient {
    background: transparent;
  }

  .cta-box-gradient:before {
    background-image: linear-gradient(251.09deg, #2563EB 5.04%, #60A5FA 96.95%);
  }

  .features-box-border:before {
    @apply gradient-border;
    background: linear-gradient(
      106.24deg,
      rgba(96, 165, 250, 0.15) -0.68%,
      rgba(37, 99, 235, 0) 98.03%
    );
  }

  .features-button-gradient:before {
    background: linear-gradient(
      90deg,
      rgba(96, 165, 250, 0.45) 0.01%,
      rgba(59, 130, 246, 0.45) 50.01%,
      rgba(37, 99, 235, 0.45) 100%
    );
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
} 